<div>

  <div class="para_box">
    <h1 class="splash-title">Welcome to Big Bang Genetics!</h1>
    <article class="para_fit">
      <section>
        <p>
          We provide current information about genetic mutations in the
          <strong>522</strong> genes known to be associated with cancer.
        <p>
        This portal is currently in very early development.  It is an aggregation of millions of
        identified mutations found from sequencing of more than 500,000 tumours
        identified in the <strong><%=link_to('Cancers Genome Project', 'http://en.wikipedia.org/wiki/Cancer_Genome_Project')%>.</strong>
        </p>
      </section>
      <section>
        <p>
          The key functionality of this program currently is the
          integration of two datasets that combine all known
          cancer genes with a comprehensive 1,200,000 cancer mutation survey.
        </p>
      </section>
    </article>
    <br>
      <div class="link-format">
        <%= button_to "Cancer Genes", cancers_path, class: "cancer-entry", method: :get %>
      </div>

    </div>

  </div>
</div>
