<div>
<h1 class="text-center"><strong>David's Homepage</strong></h1>

  <div><h3> Who's page is it? ---> David Rivers<h3></div>
    <ul>
      <li><strong>Address:</strong> 4590 Raleigh Street, Denver, CO 80212</li>
      <li><strong>Phone:</strong> 720-469-8021</li>
      <li><strong>email:</strong>dmr41.rivers@gmail.com</li>
    </ul>

</div>
