<div>
<h1 class="BBGhead"><strong>Big Bang Genetics</strong></h1>

  <div>
    <h3>Welcome to Big Bang Genetics!<h3>
    <br>
    <p>
      We provide current information about genetic mutations in the
      <strong>200</strong> genes known to be associated with cancer.
    </p>

    <p>
      This portal is designed for both patients and doctors to learn
      about specific cancer types and the genes/mutations associated with them
      and build personal profiles that may prove helpful in discussing
      health care options and true cancer risk for individuals with specific
      genetic lesions.
    </p>

  </div>
</div>
