
<div class="container">
  <div class="well col-md-3 col-md-offset-1 csvform">
    <h4> CSV import<h4>
    <% if notice != nil %>
      <div class="alert alert-danger">
        <%= notice %>
      </div>
    <% end %>
  <%= form_tag import_cancers_path, multipart: true do %>
    <%= file_field_tag :file, class: "form-control" %>
    <br>
    <%= submit_tag "Import COSMIC CSV" %>
  <%end%>
  </div>
</div>
