//registration text_field
.field {
  width: 55%;
  margin-left: 4.5em;
}

.field input {
}

a {
   text-decoration: none;
   color: $y1;
   }

a:hover {
  color: $p5
}

.login-box {
  padding: 1em;
  background:$p5;
  border-radius: 0 0 4px 4px;
  width: 30%;
  margin: 0 auto;
  margin-top: 4em;
  border-radius: 4px 4px 4px 4px;
}

.input-spacing {
  margin-bottom: 0.5em;
  margin-left: 1.8em;
}

.field.cancer-entry {
  color: white;
  margin-left: 7.25em;
  width:30%;
}

.search-form:hover {
  color:$p5;
  background: $p3;
}
div.search-float {
  float:left;
}

.tumor-collection {
  width: 17em;
}

.search-float{
  padding: 0.3em;
  background: $p3;
  border: none;
  border-radius: 3px;
  color: $p5;
  width: 12em;
  height: 2.5em;
  font-size: 80%;
}
.search-float#mutation_cut_off {
  width: 5em;
}

.search-form {
  padding: 0.2em 0.4em 0.2em 0.4em;
  background: $p1;
  border: none;
  border-radius: 3px;
  color: $y1;
}

button.cancer-entry, input.cancer-entry{
  padding: 0.7em;
  background: $p1;
  border: none;
  border-radius: 3px;
  float: left;
  color: $y1;
}

button.cancer-entry:hover, input.cancer-entry:hover {
  background: $p3;
  color: $p5;
}


.pulldown-format {
  margin-top: 0.9em;
  margin-left: 1em;
  float:left;
}

input#authy_password, input#authy_email{
  border:none;
  border-radius: 3px;
  background: $p5;
  // width: 10%;
  color: $p1;
  font-size: 80%;
}

.cuttoffCounter {
  float:right;
}

.input-spacing .field {
  background: $p4;
  border: none;
  border-radius: 3px;
  padding: 0.25em;

}

.adjust-right {
  margin-left: 4em;
}


table {
  display: scroll;
}

.input-spacing .field.cancer-entry {
  color: $y1;
}
.cancer-entry.center-text {
  float: none;
}

input[value="Login"]:hover {
  background: $y1;
  color: $p1;

}

.link-format.adjustable {
  padding: 0.3em;
}
