sdiv.manual-table {
  width: 80%;
  margin: 0 auto;
  background: $p5;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 0 0 4px 4px;
  opacity: 0.9;
}

// ul.whate {
//   li {
//     display: inline;
//
//     & + & {
//       &:before {
//         content: ", "
//       }
//     }
//   }
//   
// }
//
// @media screen and (min-width) {
//   ul.whate {
//     li {
//       display: block;
//       etc...
//     }
//   }
// }

div.manual-table-header {
  background: $p5;
  padding: 0.5em 0;
  border-bottom: 1px solid #464655;
  border-radius: 4px 4px 0 0;
  opacity: 0.9;
  margin: 0 0 1em 0.25em;
}

.single_mutation_header {
  background: $p5;
  width:40%;
  height: 3.5em;
  float: left;
  border-radius: 4px 4px 0 0;
  text-align: center;
  color: $p1;
  padding-top: 0.5em;
  font-size: 18px;
}

.single_mutation_data {
  background: $p5;
  width:40%;
  height: 80%;
  float: left;
  border-radius: 0 0 4px 4px;
  overflow: scroll;
}

div.mutation_graph_header {
  color: $p1;
  background:$p5;
  width: 57%;
  float:left;
  margin-left: 0.7em;
  border-radius: 4px 4px 0 0;
  text-align: center;
  padding-top: 0.5em;
  font-size: 18px;
}

.mutation_container_header {
  width: 100%;
  height: 3.5em;
}

.mutation_container {
  width: 100%;
  height: 600px;
  margin-bottom: 0;
}


div.mutation_graph {
  background:$p5;
  overflow: scroll;
  width: 57%;
  height: 80%;
  float:left;
  margin-left: 0.7em;
  border-radius: 0 0 4px 4px;
}

article.shift section p {
  margin-left: 7em;
  margin-bottom: 0;
  margin-top: 0.25em;
  font-size: 14px;
}

div.format-nav.column-two {
  padding-right: 30em;
}
.highlights {
  color: $y2;
  text-align:center;
}

.column.show-column, .tummie-list {
  margin-left: 2em;
}

section.title-center {
  float:right;
  font-size: 18px;
  padding-bottom: 1em;
  padding-right: 4em;
}

.inner-container .single_mutation_header, .inner-container .mutation_graph_header {
  margin-left: 9em;
}

.single_mutation_header {
  margin-left: 6em;
}

.full-width {
  width: 100%;
}

.tummie-media {
  display: none;
}

section.column.show-column.first {
  margin-top: .45em;
}

div.container {
  overflow: scroll;
}
@media (max-width: 975px) {
  section.title-center  {
    padding-right: 2em;
    // display: none;
  }
}

@media (max-width: 975px) {
  .mutation_container  {
    overflow: scroll;
  }
}

@media (max-width: 975px) {
  .single_mutation_data  {
    float: none;
    width: 100%;
    height: auto;
    // display: none;
  }
}

@media (max-width: 975px) {
  .highlights {
    text-align: left;
    // display: none;
  }
}
@media (max-width: 975px) {
  .tummie-list {
    // float:left;
    display: none;
  }
}

@media (max-width: 975px) {
  .tummie-media {
    // float:left;
    display: block;
  }
}
@media (max-width: 975px) {
  article.columns.shift{
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: left;
    // float: right;
  }
}

@media (max-width: 975px) {
  section.title-center {
    text-align: center;
    float: none;
    padding-left: 7em;
  }
}

@media (max-width: 975px) {
  div.mutation_graph {
    width: 100%;
  }
}






// .single_mutation_data {
//   background: $p5;
//   width:40%;
//   height: 80%;
//   float: left;
//   border-radius: 0 0 4px 4px;
//   overflow: scroll;
// }
