//
$b1:#04080F;
$b2:#507DBC;
$b3:#A1C6EA;
$b4:#BBD1EA;
$b5:#DAE3E5;

// $p1:#2D2327;
// $p2:#45364B;
// $p3:#62466B;
// $p4:#8C93A8;
// $p5:#B5C2B7;

//
// $p1:#242550;
// $p2:#3A3B60;
// $p3:#515279;
// $p4:#707191;
// $p5:#9898AF;
//
$p1:#202F4C;
$p2:#36425C;
$p3:#4C5974;
$p4:#69748B;
$p5:#9098A8;

$y1: #C3BF6D;
$y2: #FCE700;
