@font-face {
  font-family: 'Vollkorn';
  src:font-url('Vollkorn-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Vollkorn-bold';
  src:font-url('Vollkorn-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Junction';
  src:font-url('Junction.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aller';
  src:font-url('Aller_Rg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
