@import 'vfont';
@import 'reset';
@import 'columns';
@import 'font-colors';
@import 'd3SVG';
@import 'starry';
@import 'footer-header-body';
@import 'cancer-show-page';
@import 'button-input-format';
@import 'mainpg-index';

::-webkit-scrollbar {
    display: none;
}

div.whitespace {
  padding-top:45em;
}

text.pull-right {

}

div h3 {
  color: $p3;
  }

h2 {
  padding: .5em;
  background: $p5;
  color:  $p1;
  border-radius: 5px;
}


div p strong {
  color: $p2;}


div.form-group div.col-sm-2 {
  color: $p5;
}


.BBGhead {
  color: #464655;
  text-align: center;
}
table {
  color: $p1;
}


.inner-container {
  margin: 2em;
}
.push-apart {
  margin-bottom: .25em;
}
.push-right {
  margin-left: .25em;
}

h3.header-shift {
  color: $p1;
  background: $p5;
  width: 30%;
  margin-left: 7em;

}
div.col-sm-offset-2.submit_fit {
  padding-left: 1em
}

th, td {
  padding-right: 0.5em;
}

td.column-eight {
  text-align: center;
}

div.format-nav {
  margin-left: 60%;
  width:100%;
}

.container {
  width:90%;
  margin: 0 auto;
  position: auto;
}

table {
  overflow: scroll;
}
.column.column-two.signs {
  text-align: right;
}

div.basic {
  display:inline
}

article.single-gene-details{
  background: $p5;
  padding-left: 1em;
  margin: 0 auto;
  width: 100%;
  border: none;
  border-radius: 3px;
  color: $p5;
  margin-bottom: 0.25em;
  margin-top: 0.25em;
}
.gene-header {
  text-align: center;
}

p button.link-format{
  background: $p1;
  border-radius: 4px;
  color: $y1;
  border:none;
}

.link-format  {
  background: $p1;
  border: none;
  border-radius: 4px;
  color: $y1;
}

.header-normalizer {
  width: 90%;
  margin: 0 auto;
  margin-top: 1em;
  text-align: center;
  padding: 1em .5em 1em 0.5em;
  opacity: 0.8;
}


strong a{
  color: $p3;
}

strong a:hover {
  color: $p4;
}

header {
  position: fixed;
}

.marginalize {
  margin: 0.25em;
}

div.filler {
  height:200px;
}

span.shift {
  margin: 11em;
}
span.shift-back {
  margin-right: 200em;
}

section.column-four p {
}

.mutation_graph_header span.shift-right {
  margin-left: 10em;
}

text, li {
  color: $p1;
}

section.fixed-tumuor-height {
  height: 200px;
}

.single-gene-details {
  font-size: 16px;
}
tr li {
  font-size: 100%;
}

th {
  text-align: left;
  padding-bottom: 0.25em;
}

p.error-format {
  color: $p5;
}

.format-nav.column-two.nav-right {
  color: $y1;

}
.nav-right {
  color: $y1;
  float: right;
}

input.smaller {
  background: $p1;
  color: $y1;
  font-size: 80%
}

input.smaller:hover {
  background: $p3;
  color: $p5;

}

label {
  color: $y1;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

input[value="Login"] {
  color: $y1;
  background: $p4;
  border:none;
  border-radius: 2px;
  margin-left: 0.75em;
}

td {
  font-size: 11px;
  padding-bottom:0.25em;
}

th  {
  font-size: 18px;
}
.highlight {
  color:$y1;
}

form.button_to{
  background: $p5;
}

input.link-format:hover {
  background:$p3;
  color: $p5;
}

.signup-adjust {
  margin: 1em;
}


.cancer-index-notice {
  margin-top: 1em;
  color: $y1;
  text-align: center;
  font-size: 20px;
}

.add-gene {
  margin-top: 0.5em;
  margin-bottom: 0.4em;
  width: 5.0em;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
