@import 'reset';
@import 'columns';
@import 'font-colors';
@import 'd3SVG';
@import 'starry';
@import 'footer-header-body';
@import 'cancer-show-page';
@import 'button-input-format';
@import 'mainpg-index';

div.whitespace { padding-top:45em}

text.pull-right {font-size: 75%;}

div h3 {color: $p3;
        font-family: "Courier"}

h2 {
  padding: .5em;
  background: $p5;
  color:  $p1;
  font-family: "Courier";
  border-radius: 5px;
  }

div p {color: black;
       font-family: "Courier";
       font-size: 80% }


div p strong {color: $p2;}


div.form-group div.col-sm-2 { font-family: "Courier";
                              color: $p5; }

h2.headformat { font-family: "Courier";
                color: black;}

.BBGhead {
          font-family: "Courier";
          color: #464655;
          text-align: center;
          }

table { font-family: "Courier";
        color: white;
      }
th { font-size: 16px;}



.inner-container {
  margin: 2em;
}
.push-apart {
  margin-bottom: .25em;
}
.push-right {
  margin-left: .25em;
}

h3.header-shift {
  margin-left: 5em;
}
div.col-sm-offset-2.submit_fit {padding-left: 1em}


th, td {
  padding-right: 0.5em;
}

td.column-eight {
  text-align: center;
}

div.format-nav {
  font-size: 100%;
  margin-left: 60%;
  width:100%;
}

.container {
  width:90%;
  margin: 0 auto;
  position: auto;
}


table {
  overflow: scroll;
}
.column.column-two.signs {
  text-align: right;
  font-size: 125%;
}



button.cancer-entry, input.cancer-entry{
  padding: 0.7em;
  background: $p1;
  border: none;
  border-radius: 3px;
  font-size: 90%;
}

button.cancer-entry:hover, input.cancer-entry:hover {
  background: $p3;
}


div.basic {
  display:inline
}

article.single-gene-details{
  background: $p5;
  padding-left: 1em;
  margin: 0 auto;
  width: 100%;
  border: none;
  border-radius: 3px;
  color: $p5;
  margin-bottom: 0.25em;
  margin-top: 0.25em;
}
.gene-header {
  text-align: center;
}

p button.link-format{
  background: $p1;
  border-radius: 4px;
  color: $p5;
  border:none;

}

.header-normalizer {
  width: 90%;
  margin: 0 auto;
  margin-top: 1em;
  text-align: center;
  padding: 1em .5em 1em 0.5em;
  opacity: 0.8;
}


// rect[colour="pinky"] {
//   fill: pink;
// }

strong a{
  color: $p3;
}

strong a:hover {
  color: $p4;
}


header {
  position: fixed;
}

.marginalize {
  margin: 0.25em;
}

div.filler {
  height:200px;
}

span.shift {
  margin: 11em;
}
span.shift-back {
  margin-right: 200em;
}

section.column-four p {
  font-size: 100%;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
