
*, *:before, *:after {
}

div.mutation_graph {
  background:white;
  overflow: scroll;
}

div.mutation_graph.graph_hide {
  display: none;
}

rect[colour="pinky"] {
  fill: pink;
}

.bar {
  fill: blue;
}

.bar:hover {
  fill: green;
}

.y.axis {

  font: 10px sans-serif;
  width: 100%;
  overflow: scroll;
  fill: purple;
  color: white;

}


.x.axis {
  font: 10px sans-serif;
  width: 100%;
  overflow: scroll;
  fill: transparent;
  color: white;

}
.x.axis g:hover {
  font: 10px sans-serif;
  width: 100%;
  overflow: scroll;
  fill: purple;
  color: white;
}

.axis path,
.axis line {
  fill: none;
  stroke: red;
  color: white;
  shape-rendering: crispEdges;
  overflow:scroll;
}

.x.axis path {
  overflow: scroll;
  color: white;

}

.chart {
  background: white;
  width: 100%;
  overflow: scroll;
}



.bar {
  background: #515164;
  color: green;
}


.whitey {
  color: white;
  font-family: "Courier";
  font-size: 150%;
}

div.well.col-md-3.col-md-offset-2.csvform h4 {color: black;}

div.whitespace { padding-top:45em}

text.pull-right {font-size: 75%;}
div h3 {color: red;
        font-family: "Courier"}
h2 {color: magenta;
         font-family: "Courier"}
div p {color: black;
       font-family: "Courier";
       font-size: 80% }

.field input {
        color: black}

footer {overflow: auto;}

div p strong {color: red;}

.navbar {background-color: #000000;
         border: none;
         color: #CCCCFF;
         font-family: "Courier";
         font-size: 125%}

div.navbar.navbar-default.navbar-fixed div.container div.row {
                       padding-top: 20px;
                      }

body {
        background-image: asset_url('46LYRs.jpg');
        background-repeat:no-repeat;
        background-size: 100%;

      }

div.form-group div.col-sm-2 { font-family: "Courier";
                              color: red; }

h2.headformat { font-family: "Courier";
                color: #EDE;}

.BBGhead {
          font-family: "Courier";
          color: #CCCCFF;
          text-align: center;
          }

table { font-family: "Courier";
        color: white;
      }
th { font-size: 16px;}


a {
   text-decoration: none;
   color: #CCCCFF;
   font-size: 18px;
   }

div.col-sm-offset-2.submit_fit {padding-left: 1em}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
