<!DOCTYPE html>
<html>
<head>
  <title>BigBangGenetics</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-default navbar-fixed">
    <div class="container">
      <!-- navbar here -->
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
  <footer>
    <div class="container">
      <!-- footer stuff here -->
    </div>
  </footer>

</body>
</html>
